<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="short cut icon" href="assets/img/icons/agua.png">
    <link rel="stylesheet" href="/assets/css/estiloPreloader.css">
    <title>SAE - Riego</title>
</head>
<body id="onload">
    <div class="contenedor">
        <div class="loadingio-spinner-eclipse-j5pkfeanw9">
            <div class="ldio-q21rjymq5dq">
            <div></div>
            </div></div>
            <h3>Estamos enviando la consulta, Gracias</h3> 
            
    </div>
            
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        setTimeout(()=>{
            $('#onload').fadeOut();
            window.location = "/" ;
        },2200)
    </script>
</body>

</html>